.env.local
.env.development.local
.env.test.local
.env.production.local
__pycache__/
*.pyc
db.sqlite3
migrations/
celerybeat-schedule
.env
venv/
staticfiles/
fixtures/
temp_auto_push.bat
temp_interactive_push.bat
